@font-face {
    font-family: "nasalization";
    src: url("./fonts/nasalizationrg.otf") format("truetype");
}
@font-face {
    font-family: "floridaSerialRegular";
    src: url("./fonts/Florida-Serial Regular.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Khula', sans-serif;
}

.game-name {
    font-family: 'floridaSerialRegular';
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.grayscale {
    filter: grayscale(100%);
}

#header-title{
    font-family: 'nasalization';
    text-align: center;
    color: white;
    padding-left: 100px;
}

#welcome_message_1 {
    font-family: 'Oxanium', cursive;
}

#welcome_message_2 {
    font-family: 'Bellota Text', cursive;
    font-size: 1.1em;
}

#welcome_message_2 a{
    font-family: 'Bellota Text', cursive;
    text-decoration:underline;
    /* color: white; */
}

nav {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ========================================================================================================================================================================================================================================================================== */
.card:hover .hidden {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}


.card {
    background-color: #2f2344 !important;
    color: white;
    border-radius: 15px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: scale(1);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.35s cubic-bezier(0.29, 0.97, 0, 1.85), -webkit-transform .35s cubic-bezier(0.29, 0.97, 0, 1.85), -o-transform .35s cubic-bezier(0.29, 0.97, 0, 1.85);
}

.card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: scale(1.03);
}

.filters {
    border-radius: 0px;
}

.card-img-top {
    border-radius: 15px 15px 0px 0px !important;
}

.card-title {
    font-family: "floridaSerialRegular";
}

.light-mode .filters.no-border .filters-header,
.light-mode .filters.no-border .accordion-button,
.light-mode .filters.no-border .accordion-body {
    background-color: #fff;
    color: #000;
}

/* Dark Mode */
.dark-mode .filters.no-border,
.dark-mode .filters.no-border .filters-header,
.dark-mode .filters.no-border .accordion-button,
.dark-mode .filters.no-border .accordion-body {
    background-color: #130022;
    color: #b7b2bc;
}

/* Light Mode */
.light-mode .sort-text,
.light-mode .sort-text:hover {
    color: #000;
}

/* Dark Mode */
.dark-mode .sort-text,
.dark-mode .sort-text:hover {
    color: #b7b2bc;
}

.light-mode .game-link.active{
    color: black;
}

.dark-mode .game-link.active {
    color: white;
}

.light-mode #welcome_message{
    color: black;
}

.dark-mode #welcome_message {
    color: white;
}

.light-mode #welcome_message_2 {
    font-weight: 600;
}

.light-mode #welcome_message_2 a{
    color: black;
    font-weight: 600;
}

.dark-mode #welcome_message_2 a{
    color: white;
}

.light-mode .game-link:not(.active) {
    color: grey;
}

.dark-mode .game-link:not(.active) {
    color: #b7b2bc;
}

/* .light-mode .game-link:not(.active):hover {
    color: black;
} */

/* .dark-mode .game-link:not(.active):hover {
    color: white;
} */

.light-mode .game-name,
.light-mode .game-description {
    color: black;
}

.dark-mode .game-name{
    color: white;
}
.dark-mode .game-description {
    color: #b7b2bc;
}

.light-mode .divider {
    background-color: black;
}

.dark-mode .divider {
    background-color: #2f2344;
}

.light-mode #alphabetically_text,
.light-mode .filters-title {
    font-weight: bold;
}

.dark-mode #alphabetically_text,
.dark-mode .filters-title {
    color: white;
}

video {
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ========================================================================================================================================================================================================================================================================== */
.play-link > p {
    color: #908a9c;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    letter-spacing: 1px;
    transition: font-size .35s cubic-bezier(0.42, 0, 0.05, 0.99), color .35s cubic-bezier(0.42, 0, 0.05, 0.99);
}

.playDivider {
    background:linear-gradient(to right, rgb(29, 13, 68) 5%, rgb(89, 38, 81) 15%, rgb(165, 63, 91) 35%, rgb(239, 89, 102) 55%, rgb(244, 124, 51) 75%, rgb(249, 160, 0));
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .35s cubic-bezier(0.42, 0, 0.05, 0.99);
}

.play-link:hover > p{
    /* font-size: 17px; */
    color: white;
}

.play-link:hover .playDivider{
    transform: scaleX(1);
}

.play-link:not(:hover) .playDivider{
    transform-origin: right;
    transform: scaleX(0);
}

/* ========================================================================================================================================================================================================================================================================== */
.no-border {
    border: none !important;
    border-right: none !important;
    border-top: none !important;
}

.accordion-item {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.accordion-item .accordion-button {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

/* ========================================================================================================================================================================================================================================================================== */

/* Checkbox styles for Light mode */
.light-mode #themeToggle {
    background-color: white;
}

.light-mode .form-check-input {
    border: 1px solid #000;
}

.light-mode .form-check-input:checked {
    border-color: #0d6efd;
}

/* Checkbox styles for Dark mode */
.dark-mode .form-check-input {
    background-color: transparent;
    border: 1px solid #fff;
}

.dark-mode .form-check-input:checked {
    border-color: transparent;
    background-color: #0d6efd;
    /* border-image: linear-gradient(to bottom right, #FFA500, #FF4500);
    border-image-slice: 1; */
}

/* Accordion toggle arrow colors */

/* Light Mode */
.light-mode .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7 16L16 7 25 16'/%3E%3C/svg%3E");
    rotate: 180deg;
}

/* Dark Mode */
.dark-mode .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7 16L16 7 25 16'/%3E%3C/svg%3E");
    rotate: 180deg;
}


/* ========================================================================================================================================================================================================================================================================== */
/* Footer styles */
footer {
    background-color: #302144;
    color: white;
    padding: 20px;
}

#contactUsDiv{
    width: 6.4em;
    margin-left: 13em;
}

#contactUs {
    float: right;
    margin-top: 1em;
    color: #908a9c;
    text-decoration: none;
    transition: color .35s cubic-bezier(0.42, 0, 0.05, 0.99);
}

#contactUsDivider{
    background:linear-gradient(to right, rgb(29, 13, 68) 5%, rgb(89, 38, 81) 15%, rgb(165, 63, 91) 35%, rgb(239, 89, 102) 55%, rgb(244, 124, 51) 75%, rgb(249, 160, 0));
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .35s cubic-bezier(0.42, 0, 0.05, 0.99);
}

#contactUsDiv:hover #contactUsDivider{
    transform: scaleX(1);
    color: white;
}

#contactUsDiv:not(:hover) #contactUsDivider{
    transform-origin: right;
    transform: scaleX(0);
    color: #908a9c;
}

#contactUsDiv:hover #contactUs{
    color: white;
}

.dark-mode #contactUsDiv:not(:hover) #contactUs{
    color: #908a9c;
}
.light-mode #contactUsDiv:not(:hover) #contactUs{
    color: #bbbbbb;
}
.social-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.35s cubic-bezier(0.29, 0.97, 0, 1.85), -webkit-transform .35s cubic-bezier(0.29, 0.97, 0, 1.85), -o-transform .35s cubic-bezier(0.29, 0.97, 0, 1.85);
}

.social-icon:hover {
    text-decoration: none;
    transform: scale(1.1);
}
